<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{{ Titulo }}</title>

  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet" />
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body>

  <div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-11 offset-lg-1">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="/">
                <img src="../static/images/a-1.png" alt="">
                <span>
                  {{ Titulo }}
                </span>
              </a>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/cadastro"> Cadastro de Imagem</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/galeria"> Galeria </a>
                    </li>
                  </ul>
                </div>

              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1 ">
                  <div class="detail_box">
                    <h1>
                      API <br>
                      Patos
                    </h1>
                    <p>
                     A palavra pato vem de uma palavra do inglês antigo que significa "mergulhador". Os patos amam a água e mergulham frequentemente abaixo da superfície. O corpo do pato é alongado e largo, e é perfeitamente aerodinâmico para o mergulho. Os patos também têm pescoços longos, mas não tão longos quanto os de seus primos, cisnes e gansos de aparência semelhante. Eles têm pernas fortes e escamosas inseridas bem para trás no corpo, e asas fortes que geralmente são bem curtas e pontiagudas.
                    </p>
                    <div class="btn-box">
                      <a href="/cadastro" class="btn-1">
                        Cadastro
                      </a>
                      <a href="/galeria" class="btn-2">
                        Galeria
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 px-0">
                  <div class="img-box">
                    <img src="../static/images/about-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Cadastrar Imagens
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="../static/images/about-img.png" alt="">
          <div class="about_img-bg">
            <img src="../static/images/about-img-bg.png" alt="">
          </div>
        </div>
        <div class="detail-box">
          <p>
            Um dos fatos mais fascinantes sobre os patos é que a maioria das espécies de patos não faz o som grasnado comumente conhecido. As fêmeas da maioria das espécies de patos brincalhões fazem o barulho. Os patos usam uma ampla variedade de chamadas, incluindo assobios, e até grunhidos. Os patos que mergulham fazem um barulho de "scaup". Os patos também fazem chamadas em diferentes níveis de volume.
          </p>
          <div>
            <a href="cadastro.html">
              Acessar o Cadastro
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Galeria
        </h2>
        <p>
         Ele têm pés com membranas especiais que fazem mais do que apenas ajudá-los a nadar. Seus pés possuem uma estrutura complexa de capilares, que ajudam a regular o fluxo sanguíneo e a manter os pés aquecidos, mesmo em águas geladas. No entanto, seus pés palmados significam que eles têm dificuldade para caminhar em terra e é daí que eles obtêm seu movimento de gingado familiar.
        </p>
      </div>
      <div class="portfolio_container layout_padding2">
        <div class="box-1">
          <div class="img-box b-1">
            <img src="https://random-d.uk/api/4.jpg" alt="">
            <div class="btn-box">
            </div>
          </div>
          <div class="img-box b-2">
            <img src="https://random-d.uk/api/5.jpg" alt="">
            <div class="btn-box">
            </div>
          </div>
        </div>
        <div class="box-2">
          <div class="box-2-top">
            <div class="img-box b-3">
              <img src="https://random-d.uk/api/3.jpg" alt="">
              <div class="btn-box">
              </div>
            </div>
          </div>
          <div class="box-2-top2">
            <div class="img-box b-4">
              <img src="https://random-d.uk/api/6.jpg" alt="">
              <div class="btn-box">
              </div>
            </div>
          </div>
          <div class="box-2-btm">
            <div class="img-box b-5">
              <img src="https://random-d.uk/api/7.jpg" alt="">
              <div class="btn-box">
              </div>
            </div>
            <div class="img-box b-6">
              <img src="https://random-d.uk/api/9.jpg" alt="">
              <div class="btn-box">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="see_btn">
        <a href="/galeria">
          Acessar a Galeria
        </a>
      </div>
    </div>

  </section>
  <section class="container-fluid footer_section">
    <div class="container">
      <p>
        &copy; 2024 All Ducks Reserved
      </p>
    </div>
  </section>

  <script type="text/javascript" src="jsjquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="jsbootstrap.js"></script>
</body>

</html>